# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Visual Studio
.vs/
.vscode/
.idea/

# Generated solution/project files
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# OS files
.DS_Store
Thumbs.db

# Unity crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage